<h2>呼び出しパターン A</h2>

<pre>&lt;p dummy-text&gt;&lt;/p&gt;</pre>
<samp>
    <div dummy-text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p dummy_text&gt;&lt;/p&gt;</pre>
<samp>
    <div dummy_text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p dummy:text&gt;&lt;/p&gt;</pre>
<samp>
    <div dummy:text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p dummyText&gt;&lt;/p&gt;</pre>
<samp>
    <div dummyText><p class="bg-danger">NG</p></div>
</samp>


<pre>&lt;p data-dummy-text&gt;&lt;/p&gt;</pre>
<samp>
    <div data-dummy-text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p data-dummy_text&gt;&lt;/p&gt;</pre>
<samp>
    <div data-dummy_text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p data-dummy:text&gt;&lt;/p&gt;</pre>
<samp>
    <div data-dummy:text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p data-dummyText&gt;&lt;/p&gt;</pre>
<samp>
    <div data-dummyText><p class="bg-danger">NG</p></div>
</samp>


<pre>&lt;p x-dummy-text&gt;&lt;/p&gt;</pre>
<samp>
    <div x-dummy-text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p x-dummy_text&gt;&lt;/p&gt;</pre>
<samp>
    <div x-dummy_text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p x-dummy:text&gt;&lt;/p&gt;</pre>
<samp>
    <div x-dummy:text><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p x-dummyText&gt;&lt;/p&gt;</pre>
<samp>
    <div x_dummyText><p class="bg-danger">NG</p></div>
</samp>