<h2>呼び出しパターン C</h2>

<pre>&lt;p class=&quot;dummy-text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="dummy-text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;dummy_text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="dummy_text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;dummy:text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="dummy:text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;dummyText&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="dummyText"><p class="bg-danger">NG</p></div>
</samp>



<pre>&lt;p class=&quot;data-dummy-text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="data-dummy-text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;data-dummy_text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="data-dummy_text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;data-dummy:text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="data-dummy:text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;data-dummyText&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="data-dummyText"><p class="bg-danger">NG</p></div>
</samp>



<pre>&lt;p class=&quot;x-dummy-text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="x-dummy-text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;x-dummy_text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="x-dummy_text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;x-dummy:text&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="x-dummy:text"><p class="bg-danger">NG</p></div>
</samp>

<pre>&lt;p class=&quot;x-dummyText&quot;&gt;&lt;/p&gt;</pre>
<samp>
    <div class="data-dummyText"><p class="bg-danger">NG</p></div>
</samp>