<h2>呼び出しパターン E</h2>

<pre>&lt;dummy-text&gt;&lt;/dummy-text&gt;</pre>
<samp>
    <dummy-text><p class="bg-danger">NG</p></dummy-text>
</samp>

<pre>&lt;dummy_text&gt;&lt;/dummy_text&gt;</pre>
<samp>
    <dummy_text><p class="bg-danger">NG</p></dummy_text>
</samp>

<pre>&lt;dummy:text&gt;&lt;/dummy:text&gt;</pre>
<samp>
    <dummy:text><p class="bg-danger">NG</p></dummy:text>
</samp>

<pre>&lt;dummyText&gt;&lt;/dummyText&gt;</pre>
<samp>
    <dummyText><p class="bg-danger">NG</p></dummyText>
</samp>



<pre>&lt;data-dummy-text&gt;&lt;/data-dummy-text&gt;</pre>
<samp>
    <data-dummy-text><p class="bg-danger">NG</p></data-dummy-text>
</samp>
<pre>&lt;data-dummy_text&gt;&lt;/data-dummy_text&gt;</pre>
<samp>
    <data-dummy_text><p class="bg-danger">NG</p></data-dummy_text>
</samp>
<pre>&lt;data-dummy:text&gt;&lt;/data-dummy:text&gt;</pre>
<samp>
    <data-dummy:text><p class="bg-danger">NG</p></data-dummy:text>
</samp>
<pre>&lt;data-dummyText&gt;&lt;/data-dummyText&gt;</pre>
<samp>
    <data-dummyText><p class="bg-danger">NG</p></data-dummyText>
</samp>

<pre>&lt;x-dummy-text&gt;&lt;/x-dummy-text&gt;</pre>
<samp>
    <x-dummy-text><p class="bg-danger">NG</p></x-dummy-text>
</samp>

<pre>&lt;x-dummy_text&gt;&lt;/x-dummy_text&gt;</pre>
<samp>
    <x-dummy_text><p class="bg-danger">NG</p></x-dummy_text>
</samp>

<pre>&lt;x-dummy:text&gt;&lt;/x-dummy:text&gt;</pre>
<samp>
    <x-dummy:text><p class="bg-danger">NG</p></x-dummy:text>
</samp>

<pre>&lt;x-dummyText&gt;&lt;/x-dummyText&gt;</pre>
<samp>
    <x-dummyText><p class="bg-danger">NG</p></x-dummyText>
</samp>


