<h2>呼び出しパターン M</h2>

<pre>&lt;!-- directive:dummy-text --&gt;</pre>
<samp><!-- directive: dummy-text --></samp>

<pre>&lt;!-- directive:dummy_text --&gt;</pre>
<samp><!-- directive: dummy_text --></samp>

<pre>&lt;!-- directive:dummy:text --&gt;</pre>
<samp><!-- directive: dummy:text --></samp>

<pre>&lt;!-- directive:dummyText --&gt;</pre>
<samp><!-- directive: dummyText --></samp>



<pre>&lt;!-- directive:data-dummy-text --&gt;</pre>
<samp><!-- directive: data-dummy-text --></samp>

<pre>&lt;!-- directive:data-dummy_text --&gt;</pre>
<samp><!-- directive: data-dummy_text --></samp>

<pre>&lt;!-- directive:data-dummy:text --&gt;</pre>
<samp><!-- directive: data_dummy:text --></samp>

<pre>&lt;!-- directive:data-dummyText --&gt;</pre>
<samp><!-- directive: data_dummyText --></samp>



<pre>&lt;!-- directive:x-dummy-text --&gt;</pre>
<samp><!-- directive: x-dummy-text --></samp>

<pre>&lt;!-- directive:x-dummy_text --&gt;</pre>
<samp><!-- directive: x-dummy_text --></samp>

<pre>&lt;!-- directive:x-dummy:text --&gt;</pre>
<samp><!-- directive: x-dummy:text --></samp>

<pre>&lt;!-- directive:x-dummyText --&gt;</pre>
<samp><!-- directive: x-dummyText --></samp>