<nav>
    <h2>- contents -</h2>
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active:current==='/'}"><a href="#/">TOP</a></li>

        <!-- 実装パターン -->
        <li ng-class="{active:current==='/pattern/copyright'}"><a href="#/pattern/copyright">実装パターン -テンプレートパターン-</a></li>
        <li ng-class="{active:current==='/pattern/selectList'}"><a href="#/pattern/selectList">実装パターン -共通パーツパターン-</a></li>
        <li ng-class="{active:current==='/pattern/shiftsubmit'}"><a href="#/pattern/shiftsubmit">実装パターン -イベントフックパターン-</a></li>
        <li ng-class="{active:current==='/pattern/tooltip'}"><a href="#/pattern/tooltip">実装パターン -jQueryプラグインパターン-</a></li>
        <!-- /実装パターン -->

        <!-- 呼び出しパターン -->
        <li ng-class="{active:current==='/restrict/a'}"><a href="#/restrict/a">呼び出しパターン A</a></li>
        <li ng-class="{active:current==='/restrict/c'}"><a href="#/restrict/c">呼び出しパターン C</a></li>
        <li ng-class="{active:current==='/restrict/e'}"><a href="#/restrict/e">呼び出しパターン E</a></li>
        <li ng-class="{active:current==='/restrict/m'}"><a href="#/restrict/m">呼び出しパターン M</a></li>
        <!-- /呼び出しパターン -->

        <!-- スコープパターン -->
        <!--<li ng-class="{active:current==='/scope/01'}"><a href="#/scope/01">スコープパターン 01</a></li>-->
        <!--<li ng-class="{active:current==='/scope/02'}"><a href="#/scope/02">スコープパターン 02</a></li>-->
        <!--<li ng-class="{active:current==='/scope/03'}"><a href="#/scope/03">スコープパターン 03</a></li>-->
        <!--<li ng-class="{active:current==='/scope/04'}"><a href="#/scope/04">スコープパターン 04</a></li>-->
        <!--<li ng-class="{active:current==='/scope/05'}"><a href="#/scope/05">スコープパターン 05</a></li>-->
        <!-- /スコープパターン -->


        <!-- ロジック実装パターン -->
        <!--<li ng-class="{active:current==='/logic/01'}"><a href="#/logic/01">ロジック実装パターン -compile-</a></li>-->
        <!--<li ng-class="{active:current==='/logic/02'}"><a href="#/logic/02">ロジック実装パターン -link-</a></li>-->
        <!--<li ng-class="{active:current==='/logic/03'}"><a href="#/logic/03">ロジック実装パターン -controller-</a></li>-->

        <!--<li ng-class="{active:current==='/logic/04'}"><a href="#/logic/04">ロジック実装パターン -element-</a></li>-->
        <!--<li ng-class="{active:current==='/logic/05'}"><a href="#/logic/05">ロジック実装パターン -repeat-</a></li>-->
        <!-- /ロジック実装パターン -->
    </ul>
</nav>